<!doctype html>
<html>
<head>
  <title>getPrepped</title>
     <link href="static/base.css" rel="stylesheet">
</head>
<body>
  <h1>getPrepped</h1>

    <div class="user_nav">
           <li><a href="/">Home</a></li>
        {% if "user_id" in session %}
           <li><a href="/profile/{{ session['user_id'] }}">Profile</a></li>
           <li><a href="/logout">Logout</a></li>
        {% else %}
           <li><a href="/sign-up">Sign Up</a></li>
           <li><a href="/login">Login</a></li>
        {% endif %}
    </div>

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
  {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>
